body {
  /* default font-size is 16px - this is set in the default browser stylesheet */ 
  /* font-family: Roboto; */
} 

.control-label {
  font-weight: 500;
}

.form-group {
  margin-bottom: 5px 
} 

.legendCells {
  cursor: hover;
}

.pointtext {
  display: none
}

/* Remove margin of a row element to avoid scroling 
      when verticallayout is inside a splitlayout*/
.row { 
  margin-right: inherit;
  margin-left: inherit;
}

#icon_menu {
  margin-bottom: 1rem;
}
.iconclick {
  cursor: pointer;
  height: 250px;
  width: 250px;
}

.iconclick:hover {
  border: #337ab7 1px solid;
}

.well {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
